a:hover
{
    color:red;
}
p,ol
{
    color:cornflowerblue;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
}
#uwaga
{
    margin: 0;
    display: block;
    color:blue;
    font-size: 60px;
    text-align: center;
 
}
img 
{
    display: block;
    margin: 0 auto;
}
a
{
    color:blue;
    text-align: center;
}

html {
    font-size: 10px;
    font-family: 'Bebas Neue', cursive;
    background-color: #A9D5E9;
  }